
@{
    Layout = null;
}
<table class="table">
    <thead>
        <tr class="text-left" style="background-color:red;">
            <th style="min-width: 40px">Fis No</th>
            <th style="min-width: 80px">Fis Tipi</th>
            <th style="min-width: 90px">Cari Adı</th>
            <th style="min-width: 30px">Tip</th>
            <th style="min-width: 30px">Özel1</th>
            <th style="min-width: 30px">Özel2</th>
            <th style="min-width: 30px">Özel3</th>
            <th style="min-width: 60px">Tarih</th>
            <th style="min-width: 100px">Satıcı Adı</th>
        </tr>
    </thead>
    <tbody>
        <tr class="satir" data-id="900720697">
            <td class="pl-0">A00276</td>
            <td class="pl-0">11-Al&#x131;nan Sipari&#x15F;</td>
            <td class="text-dark-75 font-weight-bolder text-hover-primary mb-1 font-size-lg"> NESR&#x130;N BALKAN </td>
            <td class="pl-0">1</td>
            <td class="pl-0">002</td>
            <td class="pl-0"></td>
            <td class="pl-0"></td>
            <td class="pl-0">30.12.2020</td>
            <td class="pl-0"></td>
        </tr>
        <tr class="satir" data-id="900720694">
            <td class="pl-0">A00275</td>
            <td class="pl-0">11-Al&#x131;nan Sipari&#x15F;</td>
            <td class="text-dark-75 font-weight-bolder text-hover-primary mb-1 font-size-lg"> G&#xDC;NEP A.&#x15E; ANA CAR&#x130; HESAP 2020 </td>
            <td class="pl-0">0</td>
            <td class="pl-0">002</td>
            <td class="pl-0"></td>
            <td class="pl-0"></td>
            <td class="pl-0">22.12.2020</td>
            <td class="pl-0"></td>
        </tr>
        <tr class="satir" data-id="900720691">
            <td class="pl-0">A00274</td>
            <td class="pl-0">11-Al&#x131;nan Sipari&#x15F;</td>
            <td class="text-dark-75 font-weight-bolder text-hover-primary mb-1 font-size-lg"> NESR&#x130;N BALKAN </td>
            <td class="pl-0">0</td>
            <td class="pl-0">002</td>
            <td class="pl-0"></td>
            <td class="pl-0"></td>
            <td class="pl-0">22.12.2020</td>
            <td class="pl-0"></td>
        </tr>
        <tr class="satir" data-id="900720661">
            <td class="pl-0">A00273</td>
            <td class="pl-0">11-Al&#x131;nan Sipari&#x15F;</td>
            <td class="text-dark-75 font-weight-bolder text-hover-primary mb-1 font-size-lg"> NESR&#x130;N BALKAN </td>
            <td class="pl-0">0</td>
            <td class="pl-0">002</td>
            <td class="pl-0"></td>
            <td class="pl-0"></td>
            <td class="pl-0">17.12.2020</td>
            <td class="pl-0"></td>
        </tr>
        <tr class="satir" data-id="900720657">
            <td class="pl-0">A00271</td>
            <td class="pl-0">11-Al&#x131;nan Sipari&#x15F;</td>
            <td class="text-dark-75 font-weight-bolder text-hover-primary mb-1 font-size-lg"> MUTLU ECZANES&#x130; </td>
            <td class="pl-0">0</td>
            <td class="pl-0">002</td>
            <td class="pl-0"></td>
            <td class="pl-0"></td>
            <td class="pl-0">17.12.2020</td>
            <td class="pl-0"></td>
        </tr>
        <tr class="satir" data-id="900720654">
            <td class="pl-0">A00270</td>
            <td class="pl-0">11-Al&#x131;nan Sipari&#x15F;</td>
            <td class="text-dark-75 font-weight-bolder text-hover-primary mb-1 font-size-lg"> NESR&#x130;N BALKAN </td>
            <td class="pl-0">0</td>
            <td class="pl-0"></td>
            <td class="pl-0"></td>
            <td class="pl-0"></td>
            <td class="pl-0">16.12.2020</td>
            <td class="pl-0"></td>
        </tr>
        <tr class="satir" data-id="900720652">
            <td class="pl-0">A00269</td>
            <td class="pl-0">11-Al&#x131;nan Sipari&#x15F;</td>
            <td class="text-dark-75 font-weight-bolder text-hover-primary mb-1 font-size-lg"> MUTLU ECZANES&#x130; </td>
            <td class="pl-0">0</td>
            <td class="pl-0">003</td>
            <td class="pl-0"></td>
            <td class="pl-0"></td>
            <td class="pl-0">16.12.2020</td>
            <td class="pl-0"></td>
        </tr>
        <tr class="satir" data-id="900720650">
            <td class="pl-0">A00268</td>
            <td class="pl-0">11-Al&#x131;nan Sipari&#x15F;</td>
            <td class="text-dark-75 font-weight-bolder text-hover-primary mb-1 font-size-lg"> MUTLU ECZANES&#x130; </td>
            <td class="pl-0">0</td>
            <td class="pl-0">002</td>
            <td class="pl-0"></td>
            <td class="pl-0"></td>
            <td class="pl-0">16.12.2020</td>
            <td class="pl-0"></td>
        </tr>
        <tr class="satir" data-id="900720647">
            <td class="pl-0">A00267</td>
            <td class="pl-0">11-Al&#x131;nan Sipari&#x15F;</td>
            <td class="text-dark-75 font-weight-bolder text-hover-primary mb-1 font-size-lg"> NESR&#x130;N BALKAN </td>
            <td class="pl-0">0</td>
            <td class="pl-0"></td>
            <td class="pl-0"></td>
            <td class="pl-0"></td>
            <td class="pl-0">16.12.2020</td>
            <td class="pl-0"></td>
        </tr>
        <tr class="satir" data-id="900720646">
            <td class="pl-0">A00266</td>
            <td class="pl-0">11-Al&#x131;nan Sipari&#x15F;</td>
            <td class="text-dark-75 font-weight-bolder text-hover-primary mb-1 font-size-lg"> NESR&#x130;N &#x15E;&#x130;RE </td>
            <td class="pl-0">0</td>
            <td class="pl-0"></td>
            <td class="pl-0"></td>
            <td class="pl-0"></td>
            <td class="pl-0">16.12.2020</td>
            <td class="pl-0"></td>
        </tr>
        <tr class="satir" data-id="900720589">
            <td class="pl-0">A00253</td>
            <td class="pl-0">11-Al&#x131;nan Sipari&#x15F;</td>
            <td class="text-dark-75 font-weight-bolder text-hover-primary mb-1 font-size-lg"> PE&#x15E;&#x130;N M&#xDC;&#x15E;TER&#x130; </td>
            <td class="pl-0">0</td>
            <td class="pl-0">003</td>
            <td class="pl-0"></td>
            <td class="pl-0"></td>
            <td class="pl-0">20.11.2020</td>
            <td class="pl-0"></td>
        </tr>
        <tr class="satir" data-id="900720585">
            <td class="pl-0">A00252</td>
            <td class="pl-0">11-Al&#x131;nan Sipari&#x15F;</td>
            <td class="text-dark-75 font-weight-bolder text-hover-primary mb-1 font-size-lg"> PE&#x15E;&#x130;N M&#xDC;&#x15E;TER&#x130; </td>
            <td class="pl-0">0</td>
            <td class="pl-0">001</td>
            <td class="pl-0"></td>
            <td class="pl-0"></td>
            <td class="pl-0">20.11.2020</td>
            <td class="pl-0"></td>
        </tr>
        <tr class="satir" data-id="900720581">
            <td class="pl-0">A00251</td>
            <td class="pl-0">11-Al&#x131;nan Sipari&#x15F;</td>
            <td class="text-dark-75 font-weight-bolder text-hover-primary mb-1 font-size-lg"> PE&#x15E;&#x130;N M&#xDC;&#x15E;TER&#x130; </td>
            <td class="pl-0">0</td>
            <td class="pl-0">002</td>
            <td class="pl-0"></td>
            <td class="pl-0"></td>
            <td class="pl-0">20.11.2020</td>
            <td class="pl-0"></td>
        </tr>
        <tr class="satir" data-id="900720559">
            <td class="pl-0">A00250</td>
            <td class="pl-0">11-Al&#x131;nan Sipari&#x15F;</td>
            <td class="text-dark-75 font-weight-bolder text-hover-primary mb-1 font-size-lg"> deneme firmas&#x131; </td>
            <td class="pl-0">0</td>
            <td class="pl-0">002</td>
            <td class="pl-0"></td>
            <td class="pl-0"></td>
            <td class="pl-0">11.11.2020</td>
            <td class="pl-0"></td>
        </tr>
        <tr class="satir" data-id="900720542">
            <td class="pl-0">A00249</td>
            <td class="pl-0">11-Al&#x131;nan Sipari&#x15F;</td>
            <td class="text-dark-75 font-weight-bolder text-hover-primary mb-1 font-size-lg"> NESR&#x130;N BALKAN </td>
            <td class="pl-0">0</td>
            <td class="pl-0">002</td>
            <td class="pl-0"></td>
            <td class="pl-0"></td>
            <td class="pl-0">7.11.2020</td>
            <td class="pl-0"></td>
        </tr>
        <tr class="satir" data-id="900720535">
            <td class="pl-0">A00248</td>
            <td class="pl-0">11-Al&#x131;nan Sipari&#x15F;</td>
            <td class="text-dark-75 font-weight-bolder text-hover-primary mb-1 font-size-lg"> NESR&#x130;N BALKAN </td>
            <td class="pl-0">0</td>
            <td class="pl-0">002</td>
            <td class="pl-0"></td>
            <td class="pl-0"></td>
            <td class="pl-0">6.11.2020</td>
            <td class="pl-0"></td>
        </tr>
        <tr class="satir" data-id="900720531">
            <td class="pl-0">A00247</td>
            <td class="pl-0">11-Al&#x131;nan Sipari&#x15F;</td>
            <td class="text-dark-75 font-weight-bolder text-hover-primary mb-1 font-size-lg"> NESR&#x130;N BALKAN </td>
            <td class="pl-0">0</td>
            <td class="pl-0"></td>
            <td class="pl-0"></td>
            <td class="pl-0"></td>
            <td class="pl-0">6.11.2020</td>
            <td class="pl-0"></td>
        </tr>
        <tr class="satir" data-id="900720528">
            <td class="pl-0">A00246</td>
            <td class="pl-0">11-Al&#x131;nan Sipari&#x15F;</td>
            <td class="text-dark-75 font-weight-bolder text-hover-primary mb-1 font-size-lg"> NESR&#x130;N BALKAN </td>
            <td class="pl-0">0</td>
            <td class="pl-0"></td>
            <td class="pl-0"></td>
            <td class="pl-0"></td>
            <td class="pl-0">6.11.2020</td>
            <td class="pl-0"></td>
        </tr>
        <tr class="satir" data-id="900720307">
            <td class="pl-0"></td>
            <td class="pl-0">11-Al&#x131;nan Sipari&#x15F;</td>
            <td class="text-dark-75 font-weight-bolder text-hover-primary mb-1 font-size-lg"> BANU T&#xDC;RK&#xD6;Z-2005 M.C </td>
            <td class="pl-0"></td>
            <td class="pl-0">002</td>
            <td class="pl-0"></td>
            <td class="pl-0"></td>
            <td class="pl-0">26.10.2020</td>
            <td class="pl-0"></td>
        </tr>
        <tr class="satir" data-id="900720296">
            <td class="pl-0"></td>
            <td class="pl-0">11-Al&#x131;nan Sipari&#x15F;</td>
            <td class="text-dark-75 font-weight-bolder text-hover-primary mb-1 font-size-lg"> AHMET YAS&#x130;N AK  </td>
            <td class="pl-0"></td>
            <td class="pl-0">12</td>
            <td class="pl-0"></td>
            <td class="pl-0"></td>
            <td class="pl-0">26.10.2020</td>
            <td class="pl-0"></td>
        </tr>
        <tr class="satir" data-id="900720263">
            <td class="pl-0"></td>
            <td class="pl-0">11-Al&#x131;nan Sipari&#x15F;</td>
            <td class="text-dark-75 font-weight-bolder text-hover-primary mb-1 font-size-lg">  </td>
            <td class="pl-0"></td>
            <td class="pl-0">1234</td>
            <td class="pl-0"></td>
            <td class="pl-0"></td>
            <td class="pl-0">24.10.2020</td>
            <td class="pl-0"></td>
        </tr>
        <tr class="satir" data-id="900720259">
            <td class="pl-0"></td>
            <td class="pl-0">11-Al&#x131;nan Sipari&#x15F;</td>
            <td class="text-dark-75 font-weight-bolder text-hover-primary mb-1 font-size-lg">  </td>
            <td class="pl-0"></td>
            <td class="pl-0">1234</td>
            <td class="pl-0"></td>
            <td class="pl-0"></td>
            <td class="pl-0">24.10.2020</td>
            <td class="pl-0"></td>
        </tr>
        <tr class="satir" data-id="900720256">
            <td class="pl-0"></td>
            <td class="pl-0">11-Al&#x131;nan Sipari&#x15F;</td>
            <td class="text-dark-75 font-weight-bolder text-hover-primary mb-1 font-size-lg">  </td>
            <td class="pl-0"></td>
            <td class="pl-0">123</td>
            <td class="pl-0"></td>
            <td class="pl-0"></td>
            <td class="pl-0">24.10.2020</td>
            <td class="pl-0"></td>
        </tr>
        <tr class="satir" data-id="900720253">
            <td class="pl-0"></td>
            <td class="pl-0">11-Al&#x131;nan Sipari&#x15F;</td>
            <td class="text-dark-75 font-weight-bolder text-hover-primary mb-1 font-size-lg"> G&#xDC;LDEN ARAAL </td>
            <td class="pl-0"></td>
            <td class="pl-0"></td>
            <td class="pl-0"></td>
            <td class="pl-0"></td>
            <td class="pl-0">20.10.2020</td>
            <td class="pl-0"></td>
        </tr>
        <tr class="satir" data-id="900720247">
            <td class="pl-0"></td>
            <td class="pl-0">11-Al&#x131;nan Sipari&#x15F;</td>
            <td class="text-dark-75 font-weight-bolder text-hover-primary mb-1 font-size-lg"> AHMET KARAASLAN </td>
            <td class="pl-0"></td>
            <td class="pl-0"></td>
            <td class="pl-0"></td>
            <td class="pl-0"></td>
            <td class="pl-0">20.10.2020</td>
            <td class="pl-0"></td>
        </tr>
        <tr class="satir" data-id="900720242">
            <td class="pl-0"></td>
            <td class="pl-0">11-Al&#x131;nan Sipari&#x15F;</td>
            <td class="text-dark-75 font-weight-bolder text-hover-primary mb-1 font-size-lg">  </td>
            <td class="pl-0"></td>
            <td class="pl-0"></td>
            <td class="pl-0"></td>
            <td class="pl-0"></td>
            <td class="pl-0">20.10.2020</td>
            <td class="pl-0"></td>
        </tr>
        <tr class="satir" data-id="900720237">
            <td class="pl-0"></td>
            <td class="pl-0">11-Al&#x131;nan Sipari&#x15F;</td>
            <td class="text-dark-75 font-weight-bolder text-hover-primary mb-1 font-size-lg">  </td>
            <td class="pl-0"></td>
            <td class="pl-0"></td>
            <td class="pl-0"></td>
            <td class="pl-0"></td>
            <td class="pl-0">20.10.2020</td>
            <td class="pl-0"></td>
        </tr>
        <tr class="satir" data-id="900720232">
            <td class="pl-0"></td>
            <td class="pl-0">11-Al&#x131;nan Sipari&#x15F;</td>
            <td class="text-dark-75 font-weight-bolder text-hover-primary mb-1 font-size-lg">  </td>
            <td class="pl-0"></td>
            <td class="pl-0"></td>
            <td class="pl-0"></td>
            <td class="pl-0"></td>
            <td class="pl-0">20.10.2020</td>
            <td class="pl-0"></td>
        </tr>
        <tr class="satir" data-id="900720227">
            <td class="pl-0"></td>
            <td class="pl-0">11-Al&#x131;nan Sipari&#x15F;</td>
            <td class="text-dark-75 font-weight-bolder text-hover-primary mb-1 font-size-lg"> SERP&#x130;L &#xD6;ZALP-2005 MC </td>
            <td class="pl-0"></td>
            <td class="pl-0"></td>
            <td class="pl-0"></td>
            <td class="pl-0"></td>
            <td class="pl-0">18.10.2020</td>
            <td class="pl-0"></td>
        </tr>
        <tr class="satir" data-id="900720221">
            <td class="pl-0"></td>
            <td class="pl-0">11-Al&#x131;nan Sipari&#x15F;</td>
            <td class="text-dark-75 font-weight-bolder text-hover-primary mb-1 font-size-lg"> BANU T&#xDC;RK&#xD6;Z-2005 M.C </td>
            <td class="pl-0"></td>
            <td class="pl-0"></td>
            <td class="pl-0"></td>
            <td class="pl-0"></td>
            <td class="pl-0">17.10.2020</td>
            <td class="pl-0"></td>
        </tr>
        <tr class="satir" data-id="900720215">
            <td class="pl-0"></td>
            <td class="pl-0">11-Al&#x131;nan Sipari&#x15F;</td>
            <td class="text-dark-75 font-weight-bolder text-hover-primary mb-1 font-size-lg"> BANU T&#xDC;RK&#xD6;Z-2005 M.C </td>
            <td class="pl-0"></td>
            <td class="pl-0"></td>
            <td class="pl-0"></td>
            <td class="pl-0"></td>
            <td class="pl-0">17.10.2020</td>
            <td class="pl-0"></td>
        </tr>
        <tr class="satir" data-id="900720205">
            <td class="pl-0"></td>
            <td class="pl-0">11-Al&#x131;nan Sipari&#x15F;</td>
            <td class="text-dark-75 font-weight-bolder text-hover-primary mb-1 font-size-lg"> BANU T&#xDC;RK&#xD6;Z-2005 M.C </td>
            <td class="pl-0"></td>
            <td class="pl-0"></td>
            <td class="pl-0"></td>
            <td class="pl-0"></td>
            <td class="pl-0">15.10.2020</td>
            <td class="pl-0"></td>
        </tr>
        <tr class="satir" data-id="900720198">
            <td class="pl-0"></td>
            <td class="pl-0">11-Al&#x131;nan Sipari&#x15F;</td>
            <td class="text-dark-75 font-weight-bolder text-hover-primary mb-1 font-size-lg"> G&#xDC;NEP A.&#x15E;. 01-01-2012 KAMP.PE&#x15E;.HES. </td>
            <td class="pl-0"></td>
            <td class="pl-0"></td>
            <td class="pl-0"></td>
            <td class="pl-0"></td>
            <td class="pl-0">15.10.2020</td>
            <td class="pl-0"></td>
        </tr>
        <tr class="satir" data-id="900720098">
            <td class="pl-0">A018245</td>
            <td class="pl-0">13-Kredi Sipari&#x15F;i</td>
            <td class="text-dark-75 font-weight-bolder text-hover-primary mb-1 font-size-lg"> H&#xDC;LYA KIRKIL </td>
            <td class="pl-0">0</td>
            <td class="pl-0"></td>
            <td class="pl-0"></td>
            <td class="pl-0"></td>
            <td class="pl-0">25.07.2020</td>
            <td class="pl-0">007</td>
        </tr>
        <tr class="satir" data-id="900720051">
            <td class="pl-0">A018241</td>
            <td class="pl-0">13-Kredi Sipari&#x15F;i</td>
            <td class="text-dark-75 font-weight-bolder text-hover-primary mb-1 font-size-lg"> H&#xDC;SN&#x130;YE HAKSEVER </td>
            <td class="pl-0">0</td>
            <td class="pl-0"></td>
            <td class="pl-0"></td>
            <td class="pl-0"></td>
            <td class="pl-0">25.07.2020</td>
            <td class="pl-0">002</td>
        </tr>
        <tr class="satir" data-id="900719934">
            <td class="pl-0">A018233</td>
            <td class="pl-0">13-Kredi Sipari&#x15F;i</td>
            <td class="text-dark-75 font-weight-bolder text-hover-primary mb-1 font-size-lg"> &#x15E;&#xDC;KRAN YILDIRIM </td>
            <td class="pl-0">0</td>
            <td class="pl-0"></td>
            <td class="pl-0"></td>
            <td class="pl-0"></td>
            <td class="pl-0">25.07.2020</td>
            <td class="pl-0">203</td>
        </tr>
        <tr class="satir" data-id="900719841">
            <td class="pl-0">A018229</td>
            <td class="pl-0">13-Kredi Sipari&#x15F;i</td>
            <td class="text-dark-75 font-weight-bolder text-hover-primary mb-1 font-size-lg"> MERT KL&#x130;MA S&#x130;STEMLER&#x130;-ASLIHAN MERT </td>
            <td class="pl-0">0</td>
            <td class="pl-0"></td>
            <td class="pl-0"></td>
            <td class="pl-0"></td>
            <td class="pl-0">25.07.2020</td>
            <td class="pl-0">002</td>
        </tr>
        <tr class="satir" data-id="900719785">
            <td class="pl-0">A018226</td>
            <td class="pl-0">13-Kredi Sipari&#x15F;i</td>
            <td class="text-dark-75 font-weight-bolder text-hover-primary mb-1 font-size-lg"> EDA G&#xD6;KYILDIZ F&#x130;DANCAN </td>
            <td class="pl-0">0</td>
            <td class="pl-0"></td>
            <td class="pl-0"></td>
            <td class="pl-0"></td>
            <td class="pl-0">25.07.2020</td>
            <td class="pl-0">002</td>
        </tr>
        <tr class="satir" data-id="900719654">
            <td class="pl-0">A018219</td>
            <td class="pl-0">13-Kredi Sipari&#x15F;i</td>
            <td class="text-dark-75 font-weight-bolder text-hover-primary mb-1 font-size-lg"> &#x130;BRAH&#x130;M G&#xDC;VERC&#x130;N </td>
            <td class="pl-0">0</td>
            <td class="pl-0"></td>
            <td class="pl-0"></td>
            <td class="pl-0"></td>
            <td class="pl-0">24.07.2020</td>
            <td class="pl-0">001</td>
        </tr>
        <tr class="satir" data-id="900719619">
            <td class="pl-0">A018217</td>
            <td class="pl-0">13-Kredi Sipari&#x15F;i</td>
            <td class="text-dark-75 font-weight-bolder text-hover-primary mb-1 font-size-lg"> &#x130;HSAN F&#x130;DAN </td>
            <td class="pl-0">0</td>
            <td class="pl-0"></td>
            <td class="pl-0"></td>
            <td class="pl-0"></td>
            <td class="pl-0">24.07.2020</td>
            <td class="pl-0">005</td>
        </tr>
        <tr class="satir" data-id="900719602">
            <td class="pl-0">A018214</td>
            <td class="pl-0">13-Kredi Sipari&#x15F;i</td>
            <td class="text-dark-75 font-weight-bolder text-hover-primary mb-1 font-size-lg"> &#xD6;MER &#xDC;NN&#xDC; </td>
            <td class="pl-0">0</td>
            <td class="pl-0"></td>
            <td class="pl-0"></td>
            <td class="pl-0"></td>
            <td class="pl-0">24.07.2020</td>
            <td class="pl-0">202</td>
        </tr>
        <tr class="satir" data-id="900719573">
            <td class="pl-0">A018210</td>
            <td class="pl-0">13-Kredi Sipari&#x15F;i</td>
            <td class="text-dark-75 font-weight-bolder text-hover-primary mb-1 font-size-lg"> EYLEM D&#x130;KKAYA </td>
            <td class="pl-0">0</td>
            <td class="pl-0"></td>
            <td class="pl-0"></td>
            <td class="pl-0"></td>
            <td class="pl-0">24.07.2020</td>
            <td class="pl-0">006</td>
        </tr>
        <tr class="satir" data-id="900719476">
            <td class="pl-0">A018206</td>
            <td class="pl-0">13-Kredi Sipari&#x15F;i</td>
            <td class="text-dark-75 font-weight-bolder text-hover-primary mb-1 font-size-lg"> NEYY&#x130;RE GAMZE KIZAK </td>
            <td class="pl-0">0</td>
            <td class="pl-0"></td>
            <td class="pl-0"></td>
            <td class="pl-0"></td>
            <td class="pl-0">24.07.2020</td>
            <td class="pl-0">001</td>
        </tr>
        <tr class="satir" data-id="900719454">
            <td class="pl-0">A018203</td>
            <td class="pl-0">13-Kredi Sipari&#x15F;i</td>
            <td class="text-dark-75 font-weight-bolder text-hover-primary mb-1 font-size-lg"> NAZAN YA&#x11E;MURCU </td>
            <td class="pl-0">0</td>
            <td class="pl-0"></td>
            <td class="pl-0"></td>
            <td class="pl-0"></td>
            <td class="pl-0">24.07.2020</td>
            <td class="pl-0">002</td>
        </tr>
        <tr class="satir" data-id="900719440">
            <td class="pl-0">A018200</td>
            <td class="pl-0">13-Kredi Sipari&#x15F;i</td>
            <td class="text-dark-75 font-weight-bolder text-hover-primary mb-1 font-size-lg"> RECA&#x130; AKYOL </td>
            <td class="pl-0">0</td>
            <td class="pl-0"></td>
            <td class="pl-0"></td>
            <td class="pl-0"></td>
            <td class="pl-0">24.07.2020</td>
            <td class="pl-0">006</td>
        </tr>
        <tr class="satir" data-id="900719407">
            <td class="pl-0">A018198</td>
            <td class="pl-0">13-Kredi Sipari&#x15F;i</td>
            <td class="text-dark-75 font-weight-bolder text-hover-primary mb-1 font-size-lg"> SEHER DAVARCI </td>
            <td class="pl-0">0</td>
            <td class="pl-0"></td>
            <td class="pl-0"></td>
            <td class="pl-0"></td>
            <td class="pl-0">24.07.2020</td>
            <td class="pl-0">005</td>
        </tr>
        <tr class="satir" data-id="900719384">
            <td class="pl-0">A018192</td>
            <td class="pl-0">13-Kredi Sipari&#x15F;i</td>
            <td class="text-dark-75 font-weight-bolder text-hover-primary mb-1 font-size-lg"> NURG&#xDC;L B&#x130;RKESER </td>
            <td class="pl-0">0</td>
            <td class="pl-0"></td>
            <td class="pl-0"></td>
            <td class="pl-0"></td>
            <td class="pl-0">24.07.2020</td>
            <td class="pl-0">007</td>
        </tr>
        <tr class="satir" data-id="900719380">
            <td class="pl-0">A018191</td>
            <td class="pl-0">13-Kredi Sipari&#x15F;i</td>
            <td class="text-dark-75 font-weight-bolder text-hover-primary mb-1 font-size-lg"> G&#xDC;LAY Z&#x130;RAY </td>
            <td class="pl-0">0</td>
            <td class="pl-0"></td>
            <td class="pl-0"></td>
            <td class="pl-0"></td>
            <td class="pl-0">24.07.2020</td>
            <td class="pl-0">007</td>
        </tr>
        <tr class="satir" data-id="900719347">
            <td class="pl-0">A018189</td>
            <td class="pl-0">13-Kredi Sipari&#x15F;i</td>
            <td class="text-dark-75 font-weight-bolder text-hover-primary mb-1 font-size-lg"> NURG&#xDC;L B&#x130;RKESER </td>
            <td class="pl-0">0</td>
            <td class="pl-0"></td>
            <td class="pl-0"></td>
            <td class="pl-0"></td>
            <td class="pl-0">24.07.2020</td>
            <td class="pl-0">007</td>
        </tr>
        <tr class="satir" data-id="900719338">
            <td class="pl-0">A018187</td>
            <td class="pl-0">13-Kredi Sipari&#x15F;i</td>
            <td class="text-dark-75 font-weight-bolder text-hover-primary mb-1 font-size-lg"> &#xD6;ZG&#xDC;R &#x130;STANBULLUO&#x11E;LU </td>
            <td class="pl-0">0</td>
            <td class="pl-0"></td>
            <td class="pl-0"></td>
            <td class="pl-0"></td>
            <td class="pl-0">24.07.2020</td>
            <td class="pl-0">002</td>
        </tr>
        <tr class="satir" data-id="900719254">
            <td class="pl-0">A018177</td>
            <td class="pl-0">13-Kredi Sipari&#x15F;i</td>
            <td class="text-dark-75 font-weight-bolder text-hover-primary mb-1 font-size-lg"> S&#x130;NEM SELEK </td>
            <td class="pl-0">0</td>
            <td class="pl-0"></td>
            <td class="pl-0"></td>
            <td class="pl-0"></td>
            <td class="pl-0">24.07.2020</td>
            <td class="pl-0">006</td>
        </tr>
        <tr class="satir" data-id="900719252">
            <td class="pl-0">A018176</td>
            <td class="pl-0">13-Kredi Sipari&#x15F;i</td>
            <td class="text-dark-75 font-weight-bolder text-hover-primary mb-1 font-size-lg"> G&#xD6;KHAN KO&#xC7;AK  </td>
            <td class="pl-0">0</td>
            <td class="pl-0"></td>
            <td class="pl-0"></td>
            <td class="pl-0"></td>
            <td class="pl-0">24.07.2020</td>
            <td class="pl-0">202</td>
        </tr>
        <tr class="satir" data-id="900719248">
            <td class="pl-0">A018175</td>
            <td class="pl-0">13-Kredi Sipari&#x15F;i</td>
            <td class="text-dark-75 font-weight-bolder text-hover-primary mb-1 font-size-lg"> MEHMET DEM&#x130;RTA&#x15E; </td>
            <td class="pl-0">0</td>
            <td class="pl-0"></td>
            <td class="pl-0"></td>
            <td class="pl-0"></td>
            <td class="pl-0">24.07.2020</td>
            <td class="pl-0">002</td>
        </tr>
        <tr class="satir" data-id="900719232">
            <td class="pl-0">A018172</td>
            <td class="pl-0">13-Kredi Sipari&#x15F;i</td>
            <td class="text-dark-75 font-weight-bolder text-hover-primary mb-1 font-size-lg"> ABDULMUTTAL&#x130;P I&#x15E;IK </td>
            <td class="pl-0">0</td>
            <td class="pl-0"></td>
            <td class="pl-0"></td>
            <td class="pl-0"></td>
            <td class="pl-0">24.07.2020</td>
            <td class="pl-0">202</td>
        </tr>
        <tr class="satir" data-id="900719190">
            <td class="pl-0">A018169</td>
            <td class="pl-0">13-Kredi Sipari&#x15F;i</td>
            <td class="text-dark-75 font-weight-bolder text-hover-primary mb-1 font-size-lg"> S&#xDC;LEYMAN AVCI 3 </td>
            <td class="pl-0">0</td>
            <td class="pl-0"></td>
            <td class="pl-0"></td>
            <td class="pl-0"></td>
            <td class="pl-0">24.07.2020</td>
            <td class="pl-0">001</td>
        </tr>
        <tr class="satir" data-id="900719039">
            <td class="pl-0">A018159</td>
            <td class="pl-0">13-Kredi Sipari&#x15F;i</td>
            <td class="text-dark-75 font-weight-bolder text-hover-primary mb-1 font-size-lg"> AYDIN G&#xDC;L-1- </td>
            <td class="pl-0">0</td>
            <td class="pl-0"></td>
            <td class="pl-0"></td>
            <td class="pl-0"></td>
            <td class="pl-0">24.07.2020</td>
            <td class="pl-0">007</td>
        </tr>
        <tr class="satir" data-id="900719034">
            <td class="pl-0">A018157</td>
            <td class="pl-0">13-Kredi Sipari&#x15F;i</td>
            <td class="text-dark-75 font-weight-bolder text-hover-primary mb-1 font-size-lg"> SEYFETT&#x130;N B&#x130;&#xC7;ER </td>
            <td class="pl-0">0</td>
            <td class="pl-0"></td>
            <td class="pl-0"></td>
            <td class="pl-0"></td>
            <td class="pl-0">24.07.2020</td>
            <td class="pl-0">002</td>
        </tr>
        <tr class="satir" data-id="900719029">
            <td class="pl-0">A018155</td>
            <td class="pl-0">13-Kredi Sipari&#x15F;i</td>
            <td class="text-dark-75 font-weight-bolder text-hover-primary mb-1 font-size-lg"> MEHMET CAN B&#x130;&#xC7;ER </td>
            <td class="pl-0">0</td>
            <td class="pl-0"></td>
            <td class="pl-0"></td>
            <td class="pl-0"></td>
            <td class="pl-0">24.07.2020</td>
            <td class="pl-0">002</td>
        </tr>
        <tr class="satir" data-id="900719015">
            <td class="pl-0">A018152</td>
            <td class="pl-0">13-Kredi Sipari&#x15F;i</td>
            <td class="text-dark-75 font-weight-bolder text-hover-primary mb-1 font-size-lg"> AZAD ARAS </td>
            <td class="pl-0">0</td>
            <td class="pl-0"></td>
            <td class="pl-0"></td>
            <td class="pl-0"></td>
            <td class="pl-0">24.07.2020</td>
            <td class="pl-0">002</td>
        </tr>
        <tr class="satir" data-id="900718986">
            <td class="pl-0">A018149</td>
            <td class="pl-0">13-Kredi Sipari&#x15F;i</td>
            <td class="text-dark-75 font-weight-bolder text-hover-primary mb-1 font-size-lg"> T&#xDC;RKAN T&#xDC;RKMENO&#x11E;LU </td>
            <td class="pl-0">0</td>
            <td class="pl-0"></td>
            <td class="pl-0"></td>
            <td class="pl-0"></td>
            <td class="pl-0">24.07.2020</td>
            <td class="pl-0">202</td>
        </tr>
        <tr class="satir" data-id="900718944">
            <td class="pl-0">A018143</td>
            <td class="pl-0">13-Kredi Sipari&#x15F;i</td>
            <td class="text-dark-75 font-weight-bolder text-hover-primary mb-1 font-size-lg"> AYDIN G&#xDC;L-1- </td>
            <td class="pl-0">0</td>
            <td class="pl-0"></td>
            <td class="pl-0"></td>
            <td class="pl-0"></td>
            <td class="pl-0">24.07.2020</td>
            <td class="pl-0">002</td>
        </tr>
        <tr class="satir" data-id="900718834">
            <td class="pl-0">A018137</td>
            <td class="pl-0">13-Kredi Sipari&#x15F;i</td>
            <td class="text-dark-75 font-weight-bolder text-hover-primary mb-1 font-size-lg"> VAH&#x130;DE ANLI </td>
            <td class="pl-0">0</td>
            <td class="pl-0"></td>
            <td class="pl-0"></td>
            <td class="pl-0"></td>
            <td class="pl-0">24.07.2020</td>
            <td class="pl-0">006</td>
        </tr>
        <tr class="satir" data-id="900718821">
            <td class="pl-0">A018134</td>
            <td class="pl-0">13-Kredi Sipari&#x15F;i</td>
            <td class="text-dark-75 font-weight-bolder text-hover-primary mb-1 font-size-lg"> AHMET ALTUNSAY </td>
            <td class="pl-0">0</td>
            <td class="pl-0"></td>
            <td class="pl-0"></td>
            <td class="pl-0"></td>
            <td class="pl-0">24.07.2020</td>
            <td class="pl-0">005</td>
        </tr>
        <tr class="satir" data-id="900718763">
            <td class="pl-0">A018127</td>
            <td class="pl-0">13-Kredi Sipari&#x15F;i</td>
            <td class="text-dark-75 font-weight-bolder text-hover-primary mb-1 font-size-lg"> AYSUN DEN&#x130;ZHAN </td>
            <td class="pl-0">0</td>
            <td class="pl-0"></td>
            <td class="pl-0"></td>
            <td class="pl-0"></td>
            <td class="pl-0">24.07.2020</td>
            <td class="pl-0">001</td>
        </tr>
        <tr class="satir" data-id="900718720">
            <td class="pl-0">A018122</td>
            <td class="pl-0">13-Kredi Sipari&#x15F;i</td>
            <td class="text-dark-75 font-weight-bolder text-hover-primary mb-1 font-size-lg"> FAD&#x130;ME YALT&#xDC;RK </td>
            <td class="pl-0">0</td>
            <td class="pl-0"></td>
            <td class="pl-0"></td>
            <td class="pl-0"></td>
            <td class="pl-0">24.07.2020</td>
            <td class="pl-0">001</td>
        </tr>
        <tr class="satir" data-id="900718681">
            <td class="pl-0">A018118</td>
            <td class="pl-0">13-Kredi Sipari&#x15F;i</td>
            <td class="text-dark-75 font-weight-bolder text-hover-primary mb-1 font-size-lg"> HAT&#x130;CE YAVUZ  </td>
            <td class="pl-0">0</td>
            <td class="pl-0"></td>
            <td class="pl-0"></td>
            <td class="pl-0"></td>
            <td class="pl-0">24.07.2020</td>
            <td class="pl-0">202</td>
        </tr>
        <tr class="satir" data-id="900718654">
            <td class="pl-0">A018115</td>
            <td class="pl-0">13-Kredi Sipari&#x15F;i</td>
            <td class="text-dark-75 font-weight-bolder text-hover-primary mb-1 font-size-lg"> MEHMET KAYA 6 </td>
            <td class="pl-0">0</td>
            <td class="pl-0"></td>
            <td class="pl-0"></td>
            <td class="pl-0"></td>
            <td class="pl-0">24.07.2020</td>
            <td class="pl-0">006</td>
        </tr>
        <tr class="satir" data-id="900718640">
            <td class="pl-0">A018112</td>
            <td class="pl-0">13-Kredi Sipari&#x15F;i</td>
            <td class="text-dark-75 font-weight-bolder text-hover-primary mb-1 font-size-lg"> SENA&#x130; DAVARCI </td>
            <td class="pl-0">0</td>
            <td class="pl-0"></td>
            <td class="pl-0"></td>
            <td class="pl-0"></td>
            <td class="pl-0">24.07.2020</td>
            <td class="pl-0">205</td>
        </tr>
        <tr class="satir" data-id="900718631">
            <td class="pl-0">A018110</td>
            <td class="pl-0">13-Kredi Sipari&#x15F;i</td>
            <td class="text-dark-75 font-weight-bolder text-hover-primary mb-1 font-size-lg"> &#x15E;EHLA AYNALI </td>
            <td class="pl-0">0</td>
            <td class="pl-0"></td>
            <td class="pl-0"></td>
            <td class="pl-0"></td>
            <td class="pl-0">24.07.2020</td>
            <td class="pl-0">006</td>
        </tr>
        <tr class="satir" data-id="900718605">
            <td class="pl-0">A018108</td>
            <td class="pl-0">13-Kredi Sipari&#x15F;i</td>
            <td class="text-dark-75 font-weight-bolder text-hover-primary mb-1 font-size-lg"> &#x15E;EHLA AYNALI </td>
            <td class="pl-0">0</td>
            <td class="pl-0"></td>
            <td class="pl-0"></td>
            <td class="pl-0"></td>
            <td class="pl-0">24.07.2020</td>
            <td class="pl-0">006</td>
        </tr>
        <tr class="satir" data-id="900718521">
            <td class="pl-0">A018106</td>
            <td class="pl-0">13-Kredi Sipari&#x15F;i</td>
            <td class="text-dark-75 font-weight-bolder text-hover-primary mb-1 font-size-lg"> SONG&#xDC;L ARKANO&#x11E;LU </td>
            <td class="pl-0">0</td>
            <td class="pl-0"></td>
            <td class="pl-0"></td>
            <td class="pl-0"></td>
            <td class="pl-0">24.07.2020</td>
            <td class="pl-0">002</td>
        </tr>
        <tr class="satir" data-id="900718448">
            <td class="pl-0">A018104</td>
            <td class="pl-0">13-Kredi Sipari&#x15F;i</td>
            <td class="text-dark-75 font-weight-bolder text-hover-primary mb-1 font-size-lg"> LUTF&#x130;YE AKTAKAS </td>
            <td class="pl-0">0</td>
            <td class="pl-0"></td>
            <td class="pl-0"></td>
            <td class="pl-0"></td>
            <td class="pl-0">23.07.2020</td>
            <td class="pl-0">208</td>
        </tr>
        <tr class="satir" data-id="900718427">
            <td class="pl-0">A018102</td>
            <td class="pl-0">13-Kredi Sipari&#x15F;i</td>
            <td class="text-dark-75 font-weight-bolder text-hover-primary mb-1 font-size-lg"> SEMRA EML&#x130;K </td>
            <td class="pl-0">0</td>
            <td class="pl-0"></td>
            <td class="pl-0"></td>
            <td class="pl-0"></td>
            <td class="pl-0">23.07.2020</td>
            <td class="pl-0">002</td>
        </tr>
        <tr class="satir" data-id="900718391">
            <td class="pl-0">A018099</td>
            <td class="pl-0">13-Kredi Sipari&#x15F;i</td>
            <td class="text-dark-75 font-weight-bolder text-hover-primary mb-1 font-size-lg"> AL&#x130; SERBEZ </td>
            <td class="pl-0">0</td>
            <td class="pl-0"></td>
            <td class="pl-0"></td>
            <td class="pl-0"></td>
            <td class="pl-0">23.07.2020</td>
            <td class="pl-0">006</td>
        </tr>
        <tr class="satir" data-id="900718355">
            <td class="pl-0">A018096</td>
            <td class="pl-0">13-Kredi Sipari&#x15F;i</td>
            <td class="text-dark-75 font-weight-bolder text-hover-primary mb-1 font-size-lg"> FIRAT SARI </td>
            <td class="pl-0">0</td>
            <td class="pl-0"></td>
            <td class="pl-0"></td>
            <td class="pl-0"></td>
            <td class="pl-0">23.07.2020</td>
            <td class="pl-0">005</td>
        </tr>
        <tr class="satir" data-id="900718248">
            <td class="pl-0">A018087</td>
            <td class="pl-0">13-Kredi Sipari&#x15F;i</td>
            <td class="text-dark-75 font-weight-bolder text-hover-primary mb-1 font-size-lg"> YILDIZ G&#xD6;REZ </td>
            <td class="pl-0">0</td>
            <td class="pl-0"></td>
            <td class="pl-0"></td>
            <td class="pl-0"></td>
            <td class="pl-0">23.07.2020</td>
            <td class="pl-0">008</td>
        </tr>
        <tr class="satir" data-id="900718246">
            <td class="pl-0">A018086</td>
            <td class="pl-0">13-Kredi Sipari&#x15F;i</td>
            <td class="text-dark-75 font-weight-bolder text-hover-primary mb-1 font-size-lg"> S&#x130;BEL UZEL </td>
            <td class="pl-0">0</td>
            <td class="pl-0"></td>
            <td class="pl-0"></td>
            <td class="pl-0"></td>
            <td class="pl-0">23.07.2020</td>
            <td class="pl-0">002</td>
        </tr>
        <tr class="satir" data-id="900718243">
            <td class="pl-0">A018085</td>
            <td class="pl-0">13-Kredi Sipari&#x15F;i</td>
            <td class="text-dark-75 font-weight-bolder text-hover-primary mb-1 font-size-lg"> SEL&#x130;N KAPLAN </td>
            <td class="pl-0">0</td>
            <td class="pl-0"></td>
            <td class="pl-0"></td>
            <td class="pl-0"></td>
            <td class="pl-0">23.07.2020</td>
            <td class="pl-0">005</td>
        </tr>
        <tr class="satir" data-id="900718138">
            <td class="pl-0">A018075</td>
            <td class="pl-0">13-Kredi Sipari&#x15F;i</td>
            <td class="text-dark-75 font-weight-bolder text-hover-primary mb-1 font-size-lg"> SENA&#x130; DAVARCI </td>
            <td class="pl-0">0</td>
            <td class="pl-0"></td>
            <td class="pl-0"></td>
            <td class="pl-0"></td>
            <td class="pl-0">23.07.2020</td>
            <td class="pl-0">205</td>
        </tr>
        <tr class="satir" data-id="900718019">
            <td class="pl-0">A018068</td>
            <td class="pl-0">13-Kredi Sipari&#x15F;i</td>
            <td class="text-dark-75 font-weight-bolder text-hover-primary mb-1 font-size-lg"> SEYHAN KAPLAN </td>
            <td class="pl-0">0</td>
            <td class="pl-0"></td>
            <td class="pl-0"></td>
            <td class="pl-0"></td>
            <td class="pl-0">23.07.2020</td>
            <td class="pl-0">005</td>
        </tr>
        <tr class="satir" data-id="900717999">
            <td class="pl-0">A018066</td>
            <td class="pl-0">13-Kredi Sipari&#x15F;i</td>
            <td class="text-dark-75 font-weight-bolder text-hover-primary mb-1 font-size-lg"> SER&#x130;NEVLER A&#x130;LE SA&#x11E;LI&#x11E;I MERKEZ&#x130; </td>
            <td class="pl-0">0</td>
            <td class="pl-0"></td>
            <td class="pl-0"></td>
            <td class="pl-0"></td>
            <td class="pl-0">23.07.2020</td>
            <td class="pl-0">002</td>
        </tr>
        <tr class="satir" data-id="900717930">
            <td class="pl-0">A018058</td>
            <td class="pl-0">13-Kredi Sipari&#x15F;i</td>
            <td class="text-dark-75 font-weight-bolder text-hover-primary mb-1 font-size-lg"> MEHMET EK&#x130;C&#x130;  </td>
            <td class="pl-0">0</td>
            <td class="pl-0"></td>
            <td class="pl-0"></td>
            <td class="pl-0"></td>
            <td class="pl-0">23.07.2020</td>
            <td class="pl-0">202</td>
        </tr>
        <tr class="satir" data-id="900717927">
            <td class="pl-0">A018057</td>
            <td class="pl-0">13-Kredi Sipari&#x15F;i</td>
            <td class="text-dark-75 font-weight-bolder text-hover-primary mb-1 font-size-lg"> H&#xDC;SEY&#x130;N CEYLAN </td>
            <td class="pl-0">0</td>
            <td class="pl-0"></td>
            <td class="pl-0"></td>
            <td class="pl-0"></td>
            <td class="pl-0">23.07.2020</td>
            <td class="pl-0">002</td>
        </tr>
        <tr class="satir" data-id="900717918">
            <td class="pl-0">A018055</td>
            <td class="pl-0">13-Kredi Sipari&#x15F;i</td>
            <td class="text-dark-75 font-weight-bolder text-hover-primary mb-1 font-size-lg"> NECAT&#x130; U&#xC7;AK </td>
            <td class="pl-0">0</td>
            <td class="pl-0"></td>
            <td class="pl-0"></td>
            <td class="pl-0"></td>
            <td class="pl-0">23.07.2020</td>
            <td class="pl-0">008</td>
        </tr>
        <tr class="satir" data-id="900717905">
            <td class="pl-0">A018053</td>
            <td class="pl-0">13-Kredi Sipari&#x15F;i</td>
            <td class="text-dark-75 font-weight-bolder text-hover-primary mb-1 font-size-lg"> MERT KL&#x130;MA S&#x130;STEMLER&#x130;-ASLIHAN MERT </td>
            <td class="pl-0">0</td>
            <td class="pl-0"></td>
            <td class="pl-0"></td>
            <td class="pl-0"></td>
            <td class="pl-0">23.07.2020</td>
            <td class="pl-0">002</td>
        </tr>
        <tr class="satir" data-id="900717885">
            <td class="pl-0">A018050</td>
            <td class="pl-0">13-Kredi Sipari&#x15F;i</td>
            <td class="text-dark-75 font-weight-bolder text-hover-primary mb-1 font-size-lg"> MUSTAFA KARCI </td>
            <td class="pl-0">0</td>
            <td class="pl-0"></td>
            <td class="pl-0"></td>
            <td class="pl-0"></td>
            <td class="pl-0">23.07.2020</td>
            <td class="pl-0">007</td>
        </tr>
        <tr class="satir" data-id="900717880">
            <td class="pl-0">A018049</td>
            <td class="pl-0">13-Kredi Sipari&#x15F;i</td>
            <td class="text-dark-75 font-weight-bolder text-hover-primary mb-1 font-size-lg"> CEMAL ALTUNY&#xDC;Z&#xDC;K </td>
            <td class="pl-0">0</td>
            <td class="pl-0"></td>
            <td class="pl-0"></td>
            <td class="pl-0"></td>
            <td class="pl-0">23.07.2020</td>
            <td class="pl-0">001</td>
        </tr>
        <tr class="satir" data-id="900717821">
            <td class="pl-0">A018046</td>
            <td class="pl-0">13-Kredi Sipari&#x15F;i</td>
            <td class="text-dark-75 font-weight-bolder text-hover-primary mb-1 font-size-lg"> FEY&#x130;ZDAR GIDA H&#x130;Z. SANAY&#x130; T&#x130;C. ANON&#x130;M &#x15E;&#x130;RKET&#x130;  </td>
            <td class="pl-0">0</td>
            <td class="pl-0"></td>
            <td class="pl-0"></td>
            <td class="pl-0"></td>
            <td class="pl-0">23.07.2020</td>
            <td class="pl-0">006</td>
        </tr>
        <tr class="satir" data-id="900717760">
            <td class="pl-0">A018041</td>
            <td class="pl-0">13-Kredi Sipari&#x15F;i</td>
            <td class="text-dark-75 font-weight-bolder text-hover-primary mb-1 font-size-lg"> SERKAN TANRISEVEN </td>
            <td class="pl-0">0</td>
            <td class="pl-0"></td>
            <td class="pl-0"></td>
            <td class="pl-0"></td>
            <td class="pl-0">23.07.2020</td>
            <td class="pl-0">001</td>
        </tr>
        <tr class="satir" data-id="900717736">
            <td class="pl-0">A018038</td>
            <td class="pl-0">13-Kredi Sipari&#x15F;i</td>
            <td class="text-dark-75 font-weight-bolder text-hover-primary mb-1 font-size-lg"> RAGIP EKT&#x130;R&#x130;C&#x130; </td>
            <td class="pl-0">0</td>
            <td class="pl-0"></td>
            <td class="pl-0"></td>
            <td class="pl-0"></td>
            <td class="pl-0">23.07.2020</td>
            <td class="pl-0">002</td>
        </tr>
        <tr class="satir" data-id="900717729">
            <td class="pl-0">A018037</td>
            <td class="pl-0">13-Kredi Sipari&#x15F;i</td>
            <td class="text-dark-75 font-weight-bolder text-hover-primary mb-1 font-size-lg"> MEHMET TOSUN </td>
            <td class="pl-0">0</td>
            <td class="pl-0"></td>
            <td class="pl-0"></td>
            <td class="pl-0"></td>
            <td class="pl-0">23.07.2020</td>
            <td class="pl-0">008</td>
        </tr>
        <tr class="satir" data-id="900717710">
            <td class="pl-0">A018034</td>
            <td class="pl-0">13-Kredi Sipari&#x15F;i</td>
            <td class="text-dark-75 font-weight-bolder text-hover-primary mb-1 font-size-lg"> F&#x130;L&#x130;Z AKIN </td>
            <td class="pl-0">0</td>
            <td class="pl-0"></td>
            <td class="pl-0"></td>
            <td class="pl-0"></td>
            <td class="pl-0">23.07.2020</td>
            <td class="pl-0">208</td>
        </tr>
        <tr class="satir" data-id="900717569">
            <td class="pl-0">A018029</td>
            <td class="pl-0">13-Kredi Sipari&#x15F;i</td>
            <td class="text-dark-75 font-weight-bolder text-hover-primary mb-1 font-size-lg"> MEHMET KILI&#xC7; 1 </td>
            <td class="pl-0">0</td>
            <td class="pl-0"></td>
            <td class="pl-0"></td>
            <td class="pl-0"></td>
            <td class="pl-0">23.07.2020</td>
            <td class="pl-0">006</td>
        </tr>
        <tr class="satir" data-id="900717529">
            <td class="pl-0">A018027</td>
            <td class="pl-0">13-Kredi Sipari&#x15F;i</td>
            <td class="text-dark-75 font-weight-bolder text-hover-primary mb-1 font-size-lg"> CO&#x15E;KUN KASAR </td>
            <td class="pl-0">0</td>
            <td class="pl-0"></td>
            <td class="pl-0"></td>
            <td class="pl-0"></td>
            <td class="pl-0">23.07.2020</td>
            <td class="pl-0">002</td>
        </tr>
        <tr class="satir" data-id="900717499">
            <td class="pl-0">A018025</td>
            <td class="pl-0">13-Kredi Sipari&#x15F;i</td>
            <td class="text-dark-75 font-weight-bolder text-hover-primary mb-1 font-size-lg"> MAL&#x130;K VATANSEVER </td>
            <td class="pl-0">0</td>
            <td class="pl-0"></td>
            <td class="pl-0"></td>
            <td class="pl-0"></td>
            <td class="pl-0">23.07.2020</td>
            <td class="pl-0">002</td>
        </tr>
        <tr class="satir" data-id="900717479">
            <td class="pl-0">A018023</td>
            <td class="pl-0">13-Kredi Sipari&#x15F;i</td>
            <td class="text-dark-75 font-weight-bolder text-hover-primary mb-1 font-size-lg"> MAL&#x130;K VATANSEVER </td>
            <td class="pl-0">0</td>
            <td class="pl-0"></td>
            <td class="pl-0"></td>
            <td class="pl-0"></td>
            <td class="pl-0">23.07.2020</td>
            <td class="pl-0">002</td>
        </tr>
        <tr class="satir" data-id="900717431">
            <td class="pl-0">A018019</td>
            <td class="pl-0">13-Kredi Sipari&#x15F;i</td>
            <td class="text-dark-75 font-weight-bolder text-hover-primary mb-1 font-size-lg"> BES&#x130;M ANANA&#xC7; </td>
            <td class="pl-0">0</td>
            <td class="pl-0"></td>
            <td class="pl-0"></td>
            <td class="pl-0"></td>
            <td class="pl-0">23.07.2020</td>
            <td class="pl-0">007</td>
        </tr>
        <tr class="satir" data-id="900717301">
            <td class="pl-0">A018012</td>
            <td class="pl-0">13-Kredi Sipari&#x15F;i</td>
            <td class="text-dark-75 font-weight-bolder text-hover-primary mb-1 font-size-lg"> SABR&#x130;YE TERZ&#x130; </td>
            <td class="pl-0">0</td>
            <td class="pl-0"></td>
            <td class="pl-0"></td>
            <td class="pl-0"></td>
            <td class="pl-0">23.07.2020</td>
            <td class="pl-0">002</td>
        </tr>
        <tr class="satir" data-id="900717288">
            <td class="pl-0">A018010</td>
            <td class="pl-0">13-Kredi Sipari&#x15F;i</td>
            <td class="text-dark-75 font-weight-bolder text-hover-primary mb-1 font-size-lg"> HASAN ULU&#xC7;AY </td>
            <td class="pl-0">0</td>
            <td class="pl-0"></td>
            <td class="pl-0"></td>
            <td class="pl-0"></td>
            <td class="pl-0">23.07.2020</td>
            <td class="pl-0">001</td>
        </tr>
        <tr class="satir" data-id="900717248">
            <td class="pl-0">A018007</td>
            <td class="pl-0">13-Kredi Sipari&#x15F;i</td>
            <td class="text-dark-75 font-weight-bolder text-hover-primary mb-1 font-size-lg"> NESL&#x130;HAN YAVUZ </td>
            <td class="pl-0">0</td>
            <td class="pl-0"></td>
            <td class="pl-0"></td>
            <td class="pl-0"></td>
            <td class="pl-0">23.07.2020</td>
            <td class="pl-0">005</td>
        </tr>
    </tbody>
</table>
